In [236]:
import numpy as np

## Data Types & Attributes

In [237]:
# Numpy's main data structure is the multidimensional array called ndarray

a1 = np.array([1, 2, 3, 4, 5])
a1

array([1, 2, 3, 4, 5])

In [238]:
type(a1)

numpy.ndarray

In [239]:
a2 = np.array([[1, 2, 3], 
               [4, 5, 6], 
               [7, 8, 9]])

a3 = np.array([[[1, 2, 3],
                [4, 5, 6],
                [7, 8, 9]],
               [[10, 11, 12],
                [13, 14, 15],
                [16, 17, 18]]])

In [240]:
a2

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [241]:
a3

array([[[ 1,  2,  3],
        [ 4,  5,  6],
        [ 7,  8,  9]],

       [[10, 11, 12],
        [13, 14, 15],
        [16, 17, 18]]])

In [242]:
a1.shape

(5,)

In [243]:
a2.shape

(3, 3)

In [244]:
a3.shape

(2, 3, 3)

In [245]:
a1.ndim, a2.ndim, a3.ndim

(1, 2, 3)

In [246]:
a1.dtype, a2.dtype, a3.dtype

(dtype('int32'), dtype('int32'), dtype('int32'))

In [247]:
a1.size, a2.size, a3.size

(5, 9, 18)

In [248]:
type(a1), type(a2), type(a3)

(numpy.ndarray, numpy.ndarray, numpy.ndarray)

In [249]:
# Create a DataFrame from a NumPy array
import pandas as pd

df = pd.DataFrame(a2)
df

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

## Creating arrays

In [250]:
sample_array = np.array([1,2,3])
sample_array

array([1, 2, 3])

In [251]:
sample_array.dtype

dtype('int32')

In [252]:
ones = np.ones((2, 3))

In [253]:
ones

array([[1., 1., 1.],
       [1., 1., 1.]])

In [254]:
ones.dtype

dtype('float64')

In [255]:
type(ones)

numpy.ndarray

In [256]:
zeros = np.zeros((2, 3))

In [257]:
range_array = np.arange(0, 10, 2)

In [258]:
range_array

array([0, 2, 4, 6, 8])

In [259]:
random_array = np.random.randint(0, 10, size=(3, 5))
random_array

array([[8, 8, 2, 3, 2],
       [0, 8, 8, 3, 8],
       [2, 8, 4, 3, 0]])

In [260]:
random_array.size

15

In [261]:
random_array.shape

(3, 5)

In [262]:
random_array_2 = np.random.random((5, 3))
random_array_2

array([[0.84640867, 0.69947928, 0.29743695],
       [0.81379782, 0.39650574, 0.8811032 ],
       [0.58127287, 0.88173536, 0.69253159],
       [0.72525428, 0.50132438, 0.95608363],
       [0.6439902 , 0.42385505, 0.60639321]])

In [263]:
random_array_2.shape

(5, 3)

In [264]:
# Pseudo-random numbers
# seed is a parameter that allows us to generate the same random numbers
np.random.seed(seed = 0)
random_array_4 = np.random.randint(10, size=(5, 3))
random_array_4

array([[5, 0, 3],
       [3, 7, 9],
       [3, 5, 2],
       [4, 7, 6],
       [8, 8, 1]])

In [265]:
random_array_4.shape

(5, 3)

## Viewing arrays and matrices

In [266]:
# unique() returns the unique values in an array
np.unique(random_array_4)

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [267]:
np.unique(a1)

array([1, 2, 3, 4, 5])

In [268]:
a1[0]

1

In [269]:
a2[0]

array([1, 2, 3])

In [270]:
a3[0]

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [271]:
a3[:2, :2, :2]

array([[[ 1,  2],
        [ 4,  5]],

       [[10, 11],
        [13, 14]]])

In [272]:
a4 = np.random.randint(10, size=(2, 3, 4, 5))

In [273]:
a4

array([[[[6, 7, 7, 8, 1],
         [5, 9, 8, 9, 4],
         [3, 0, 3, 5, 0],
         [2, 3, 8, 1, 3]],

        [[3, 3, 7, 0, 1],
         [9, 9, 0, 4, 7],
         [3, 2, 7, 2, 0],
         [0, 4, 5, 5, 6]],

        [[8, 4, 1, 4, 9],
         [8, 1, 1, 7, 9],
         [9, 3, 6, 7, 2],
         [0, 3, 5, 9, 4]]],


       [[[4, 6, 4, 4, 3],
         [4, 4, 8, 4, 3],
         [7, 5, 5, 0, 1],
         [5, 9, 3, 0, 5]],

        [[0, 1, 2, 4, 2],
         [0, 3, 2, 0, 7],
         [5, 9, 0, 2, 7],
         [2, 9, 2, 3, 3]],

        [[2, 3, 4, 1, 2],
         [9, 1, 4, 6, 8],
         [2, 3, 0, 0, 6],
         [0, 6, 3, 3, 8]]]])

In [274]:
a4.shape, a4.ndim

((2, 3, 4, 5), 4)

In [275]:
# Get the first 4 numbers of the inner most arrays
a4[:, :, :, :4]

array([[[[6, 7, 7, 8],
         [5, 9, 8, 9],
         [3, 0, 3, 5],
         [2, 3, 8, 1]],

        [[3, 3, 7, 0],
         [9, 9, 0, 4],
         [3, 2, 7, 2],
         [0, 4, 5, 5]],

        [[8, 4, 1, 4],
         [8, 1, 1, 7],
         [9, 3, 6, 7],
         [0, 3, 5, 9]]],


       [[[4, 6, 4, 4],
         [4, 4, 8, 4],
         [7, 5, 5, 0],
         [5, 9, 3, 0]],

        [[0, 1, 2, 4],
         [0, 3, 2, 0],
         [5, 9, 0, 2],
         [2, 9, 2, 3]],

        [[2, 3, 4, 1],
         [9, 1, 4, 6],
         [2, 3, 0, 0],
         [0, 6, 3, 3]]]])

# Manipulating and comparing arrays

### Arithmetic Operations

In [276]:
a1

array([1, 2, 3, 4, 5])

In [277]:
ones = np.ones(len(a1))

In [278]:
ones

array([1., 1., 1., 1., 1.])

In [279]:
a1 + ones

array([2., 3., 4., 5., 6.])

In [280]:
a2

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

* broadcasting is the ability to perform operations on arrays of different shapes.

* Smaller array is broadcasted to the larger array