In [4]:
#pd is alias name
import pandas as pd

In [6]:
# Two main datatypes in pandas
cars = pd.Series(["BMW", "Toyota", "Honda"])

In [18]:
cars

0       BMW
1    Toyota
2     Honda
dtype: object

In [10]:
# Series is data type in panda library having one dimensional

In [24]:
colors = pd.Series(["Red", "Blue", "Green"])

In [26]:
colors

0      Red
1     Blue
2    Green
dtype: object

In [28]:
# Dataframe is data type in panda library having two dimensional

In [36]:
car_data = pd.DataFrame({"Car Manufacturer": cars, "Colors":colors})

In [38]:
car_data

  Car Manufacturer Colors
0              BMW    Red
1           Toyota   Blue
2            Honda  Green

In [40]:
# Importing data from a csv file
car_sales = pd.read_csv("car-sales.csv")

In [42]:
car_sales

     Make Colour  Odometer (KM)  Doors       Price
0  Toyota  White         150043      4   $4,000.00
1   Honda    Red          87899      4   $5,000.00
2  Toyota   Blue          32549      3   $7,000.00
3     BMW  Black          11179      5  $22,000.00
4  Nissan  White         213095      4   $3,500.00
5  Toyota  Green          99213      4   $4,500.00
6   Honda   Blue          45698      4   $7,500.00
7   Honda   Blue          54738      4   $7,000.00
8  Toyota  White          60000      4   $6,250.00
9  Nissan  White          31600      4   $9,700.00

Anatomy of Data frame in Pandas
The 0,1,2,3,4,...,8,9 is the Index number of the data frame starting from 0
Axix 1 signifies the column in the data frame
Axix 0 signifies the row in the data frame

In [52]:
# Exporting a data frame 

# Exporting in csv file
# here the "exported-car-sales.csv" is the name of the file that will be created in project directory
car_sales.to_csv("exported-car-sales.csv")

# Exporting in excel file
car_sales.to_excel("exported-car-sales.xlsx")

In [56]:
# Let us import the exported-car-sales.csv and see if it is working or not

imported_car_sales = pd.read_csv("exported-car-sales.csv")
imported_car_sales

   Unnamed: 0    Make Colour  Odometer (KM)  Doors       Price
0           0  Toyota  White         150043      4   $4,000.00
1           1   Honda    Red          87899      4   $5,000.00
2           2  Toyota   Blue          32549      3   $7,000.00
3           3     BMW  Black          11179      5  $22,000.00
4           4  Nissan  White         213095      4   $3,500.00
5           5  Toyota  Green          99213      4   $4,500.00
6           6   Honda   Blue          45698      4   $7,500.00
7           7   Honda   Blue          54738      4   $7,000.00
8           8  Toyota  White          60000      4   $6,250.00
9           9  Nissan  White          31600      4   $9,700.00

In [ ]:
# There are two index column to remove this
car_sales.to_csv("exported-car-sales.csv", index = False )